*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
}

.back-link{
    margin: 1rem;
}
.back-link a{
    text-decoration: none;
}

.container{
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer_display, .side_panel, .numbers{
    width: 100%;
    position: relative;
}
.timer_display img{
    width: 100%;
}
.cock{
    position: absolute;
    top: 28%;
    left: 10%;
    transform: translateY(-300%);
}
.move_cock{
    transform: translateY(0);
}
.timer_display h2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-35%);
    font-size: 6.6vw;
}
.numbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
}
.numbers img:hover{
    transform: scale(1.1);
 }
.one23, .four56, .seven89, .zero, .buttons, .bottom, .sidebysidebtn{
    width: 100%;
    margin: .1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one23 img, .four56 img, .seven89 img, .zero img{
    width: 20%;
    cursor: pointer;
}
.buttons{
    margin-left: 1.5rem;
    flex-direction: column;
}
.set, .clear, .cli{
    border: 1px solid black;
    border-radius: 5px;
    outline: transparent;
    cursor: pointer;
    background: transparent;
    width: 25%;
    padding-top: .4rem;
    font-size: 4vw;
}
.set{margin-right: .250rem;}
.clear{margin-left: .250rem;}
.set:hover{
    transform: scale(1.05);
}
.clear:hover{
    transform: scale(1.05);
}
.cli:hover{
    transform: scale(1.05);
}
.set, .clear{
    margin-bottom: .2rem;
}
.cli{    background:rgba(194, 58, 8, 0.899);}
.set{    background:rgba(255, 255, 0, 1);}
.clear{    background:rgba(255, 133, 0, 1);}

/* utility classes  */
.hide{
    pointer-events: none;
    opacity: .3;
}
.show{
    pointer-events: all;
    opacity: 1;
}

@media only screen and (min-width: 600px){

    .container{flex-direction: row;}
    .timer_display{ width: 65%;}
    .side_panel{ width: 35%;}
    .timer_display h2{ font-size: 4.3vw;}
    .set, .clear, .cli{
        font-size: 2vw;
        padding-top: .4rem;
    }
}

@media only screen and (max-width: 600px){
    .numbers, .buttons{
        margin-left: 0;
    }
}